<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Model2-Member</display-name>
  <servlet>
    <display-name>UserFrontControllers</display-name>
    <servlet-name>UserFrontControllers</servlet-name>
    <servlet-class>net.user.action.UserFrontControllers
		</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserFrontControllers</servlet-name>
    <url-pattern>*.us</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>BoardFrontControllers</display-name>
    <servlet-name>BoardFrontControllers</servlet-name>
    <servlet-class>net.board.action.BoardFrontControllers
		</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardFrontControllers</servlet-name>
    <url-pattern>*.bo</url-pattern>
  </servlet-mapping>
</web-app>